<h1>Bienvenue sur The Gossip Project</h1>

<% @gossip.each do |gossip| %>

      <p><a class="text-dark" href="/gossips/<%= gossip.id %>"><span class="font-weight-bold"><%= gossip.title %></span></a>, <%= gossip.user.first_name %></p>

  <% end %>
